# Dependencies
node_modules/
.pnp/
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native projects (Continuous Native Generation)
/ios/
/android/

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment
.env
.env.local
.env.*.local

# OS / editors
.DS_Store
.idea/
.vscode/

# Logs
*.log
